* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #0b7032;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

a{
    color: #ffffff;
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}


